@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: 'Glysa';
    src: url("../public/fonts/Glysa.otf");
  }

  @font-face {
    font-family: 'LexendDeca';
    src: url("../public/fonts/LexendDeca-VariableFont_wght.ttf");
  }

  @layer components {
    .btn-apply {
      @apply
      flex gap-[8px]
      bg-gradient-to-t 
    from-base-60/70 
    to-base-60/100 
      h-full w-full 
      py-1 px-2 sm:py-2 sm:px-4 
      rounded-full
      hover:from-base-50/70 hover:to-base-50/100
      active:from-base-40/70 active:to-base-40/100
    }
  }

  @layer base {
    h1 {
      @apply font-glysa sm:text-[32px] text-[24px] font-medium sm:leading-[48px] leading-[32px] tracking-[0]
    }

    h2 {
      @apply font-glysa sm:text-[24px] text-[20px] font-medium sm:leading-[40px] leading-[28px] tracking-[0]
    }

    h3 {
      @apply font-lexendDeca sm:text-[16px] text-[14px] font-normal sm:leading-[24px] leading-[20px] tracking-[1%]
    }

    body {
      @apply text-white bg-base-100 font-lexendDeca sm:text-[14px] text-[12px] sm:leading-[20px] leading-[18px] tracking-[1%]
    }
  }
