@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: 'Glysa';
    src: url("../public/fonts/Glysa.otf");
  }

  @font-face {
    font-family: 'LexendDeca';
    src: url("../public/fonts/LexendDeca-VariableFont_wght.ttf");
  }

  @layer base {
    h1 {
      @apply font-glysa text-[32px] font-medium leading-[48px] tracking-[0]
    }

    h2 {
      @apply font-glysa text-[24px] font-medium leading-[40px] tracking-[0]
    }

    h3 {
      @apply font-lexendDeca text-[16px] font-normal leading-[24px] tracking-[1%]
    }

    body {
      @apply text-white bg-base-100 font-lexendDeca text-[14px] leading-[20px] tracking-[1%]
    }
  }
